<app-cuadrados></app-cuadrados>


<header>
  <nav>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="cards-container">
    <div class="card">
      <div class="card-image">
        <img src="https://picsum.photos/300/200" alt="Imagen random" />
      </div>
      <div class="card-content">
        <h3 class="card-title">Título de la Card</h3>
        <p class="card-description">Lorem ipsum dolor    sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="card-footer">   
        <button class="btn">Leer más</button>
        <span class="date">Abril 2024</span>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://picsum.photos/300/200" alt="Imagen random" />
      </div>
      <div class="card-content">
        <h3 class="card-title">Título de la Card</h3>
        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="card-footer">
        <button class="btn">Leer más</button>
        <span class="date">Abril 2024</span>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://picsum.photos/300/200" alt="Imagen random" />
      </div>
      <div class="card-content">
        <h3 class="card-title">Título de la Card</h3>
        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="card-footer">
        <button class="btn">Leer más</button>
        <span class="date">Abril 2024</span>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://picsum.photos/300/200" alt="Imagen random" />
      </div>
      <div class="card-content">
        <h3 class="card-title">Título de la Card</h3>
        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="card-footer">
        <button class="btn">Leer más</button>
        <span class="date">Abril 2024</span>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://picsum.photos/300/200" alt="Imagen random" />
      </div>
      <div class="card-content">
        <h3 class="card-title">Título de la Card</h3>
        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="card-footer">
        <button class="btn">Leer más</button>
        <span class="date">Abril 2024</span>
      </div>
    </div>




  </section>
</main>

<aside>
  <div class="aside-container">
    <h3>Publicidad</h3>
    <img src="https://picsum.photos/200/300" alt="Publicidad" />
  </div>
</aside>


<footer>
  <p>&copy; 2024 - Todos los derechos reservados</p>

</footer>



